/vendor/
composer.lock
.phpunit.result.cache
/.phpunit.cache/
/var/
/.idea/
/.vscode/
*~
.codacy

# PHPStan
.phpstan/

# PHP CS Fixer
.php-cs-fixer.cache

# Code coverage
/.coverage/

# Rector
rector.php

#Ignore vscode AI rules
.github/instructions/codacy.instructions.md
